<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GoogleFinanceDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  
    <appSettings>
      <add key="defaultOutputDirectoryPath" value="C:\Users\Nick\Documents\Visual Studio 2013\Projects\MarketData\MarketData.Test\bin\Debug\TestData\"/>
      <add key="defaultInputFilePath" value="C:\Users\Nick\Documents\Visual Studio 2013\Projects\MarketData\MarketData.Test\bin\Debug\TestData\SPY_Companies.csv"/>
      <add key="defaultResolution" value="minute"/>
      <add key="YAHOO_GET_PRICES_URI_BEGINNING" value="http://ichart.finance.yahoo.com/table.csv?"/>
      <add key="GOOGLE_GET_PRICES_METHOD_URI_BEGINNING" value="http://www.google.com/finance/getprices"/>
    </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>

