<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="defaultOutputDirectoryPath" value="H:\GoogleFinanceData\"/>
    <add key="defaultInputFilePath" value="H:\GoogleFinanceData\Combined_Companies.csv"/>
    <add key="defaultResolution" value="minute"/>
    <add key="GOOGLE_GET_PRICES_METHOD_URI_BEGINNING" value="http://www.google.com/finance/getprices"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
</configuration>
